<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="#">Layout Designer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li ngbDropdown class="nav-item">
            <a class="nav-link" ngbDropdownToggle>File</a>
            <div ngbDropdownMenu *ngIf="view === 'layout'">
                <button ngbDropdownItem (click)="trackService.selectMenuItem('new-layout')">New Layout</button>
                <button ngbDropdownItem (click)="trackService.selectMenuItem('open-layout')">Open Layout</button>
                <button ngbDropdownItem (click)="trackService.selectMenuItem('save-layout')">Save Layout</button>
            </div>
      </li>
      <li ngbDropdown class="nav-item">
            <a class="nav-link" ngbDropdownToggle>View</a>
            <div ngbDropdownMenu>
                <button ngbDropdownItem (click)="setView('layout')">Layout</button>
                <button ngbDropdownItem (click)="setView('track')">Track</button>
            </div>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">

    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-lg-1">
      <app-library></app-library>
    </div>
    <div class="col-md-10 col-lg-11" *ngIf="view === 'layout'">
      <app-layout></app-layout>
    </div>
    <div class="col-md-10 col-lg-11" *ngIf="view === 'track'">
      <app-track-editor></app-track-editor>
    </div>
  </div>
</div>