<div class="row">
  <div class="col-sm-12">
    <button (click)="saveLayout()">Save Layout</button>
    <button (click)="loadLayout()">Load Layout</button>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="wrapper" #wrapper>
      <canvas id="canvas" style="z-index: 0" #canvas></canvas>
      <canvas id="glass" style="z-index: 1" #glass
          (mousedown)="mouseDown($event)"
          (mousemove)="mouseMove($event)"
          (mouseup)="mouseUp($event)"
          (mouseleave)="mouseUp($event)"></canvas>
    </div>
  </div>
</div>
