<div class="row">
    <div class="col-sm-12">
        <div class="btn-group btn-group-toggle">
            <button class="btn btn-secondary" [ngClass]="{'active' : tool === 'pointer'}" (click)="tool = 'pointer'">Pointer</button>
            <button class="btn btn-secondary" [ngClass]="{'active' : tool === 'move'}" (click)="tool = 'move'">Move</button>
            <button class="btn btn-secondary" [ngClass]="{'active' : tool === 'rotate'}"(click)="tool = 'rotate'">Rotate</button>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="wrapper" #wrapper>
      <canvas id="canvas" style="z-index: 0" #canvas [height]="layoutWidth" [width]="layoutLength"></canvas>
      <canvas id="glass" style="z-index: 1" #glass [height]="layoutWidth" [width]="layoutLength"
          (mousedown)="mouseDown($event)"
          (mousemove)="mouseMove($event)"
          (mouseup)="mouseUp($event)"
          (mouseleave)="mouseUp($event)"></canvas>
    </div>
  </div>
</div>

<ng-template #createLayoutModal let-modal>
  <div class="modal-body">
    <form [formGroup]="createForm">
      <div class="form-group">
        <label for="name">Layout Name</label>
        <input id="name" type="text" class="form-control" formControlName="name">
      </div>
      <div class="form-group">
          <label for="scale">Scale</label>
          <input id="scale" type="text" class="form-control" formControlName="scale">
      </div>
      <div class="form-group">
          <label for="length">Length</label>
          <input id="length" type="text" class="form-control" formControlName="length">
      </div>
      <div class="form-group">
          <label for="width">Width</label>
          <input id="width" type="text" class="form-control" formControlName="width">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Create click')">Create</button>
  </div>
</ng-template>

<ng-template #openLayoutModal let-modal>
    <div class="modal-body">
        <form [formGroup]="openForm">
            <div class="form-group">
                <label for="layoutSelect">Layouts</label>
                <select class="form-control" size="10" formControlName="layoutId">
                    <option *ngFor="let lo of layouts" [value]="lo.id">{{ lo.name }}</option>
                </select>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Open click')">Open</button>
    </div>
</ng-template>