<div id="wrapper">
  <canvas #canvas width="500" height="500"></canvas>
</div>

<form [formGroup]="trackForm">
    <div>
        <label>
            Description:
            <input type="text" formControlName="description">
        </label>
    </div>

    <div [ngSwitch]="track?.type">

        <div formGroupName="straight" *ngSwitchCase="'straight'">
            <label>
            Length:
            <input type="text" formControlName="length">
            </label>
        </div>

        <div formGroupName="curve" *ngSwitchCase="'curve'">
            <label>
            Radius:
            <input type="text" formControlName="radius">
            </label>
            <label>
            Sweep:
            <input type="text" formControlName="sweep">
            </label>
        </div>

        <div formGroupName="turnout" *ngSwitchCase="'turnout'">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="direction" id="inlineRadio1" value="left">
                <label class="form-check-label" for="inlineRadio1">Left</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="direction" id="inlineRadio2" value="right">
                <label class="form-check-label" for="inlineRadio2">Right</label>
            </div>
            <label>
            Number:
            <input type="text" formControlName="tNumber">
            </label>
            <label>
            Length:
            <input type="text" formControlName="length">
            </label>
            <label>
            Radius:
            <input type="text" formControlName="radius">
            </label>
            <label>
            Sweep:
            <input type="text" formControlName="sweep">
            </label>
            <label>
            Lead:
            <input type="number" formControlName="lead">
            </label>
            </div>

        <div formGroupName="crossing" *ngSwitchCase="'crossing'">
            <label>
            Length:
            <input type="text" formControlName="length">
            </label>
            <label>
            Angle:
            <input type="text" formControlName="angle">
            </label>
        </div>

    </div>

</form>

<div>
  <pre *ngIf="!!track">{{ track | json }}</pre>
</div>